<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="text-center">
    <h1 class="my-5 display-5 fw-bold ls-tight text-center" style="color: hsl(218, 81%, 95%)">
      <img src="assets/images/logo-ettabab.png" height="230px" width="220px">
    </h1>
    <h1 class="display-1 fw-bold">404</h1>
    <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
    <p class="lead">
      The page you’re looking for doesn’t exist.
    </p>
    <a routerLink="/home" mat-raised-button class="m-auto text-center text-light btn-green">Go Home</a>
  </div>
</div>
