<div *ngIf="loading" id="myModal" class="modal">
  <div class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<nav class="navbar navbar-expand-lg sticky-top nav-banner" data-bs-theme="light">
  <div class="container-fluid">
    <a style="cursor: pointer" class="navbar-brand" title="ETTABA" data-bs-toggle="modal" data-bs-target="#exampleModalDedicatFS"><img src="assets/images/logo-ettabaw.png" alt="Ettaba" height="50px" width="50px"></a>



    <div class="modal fade" id="exampleModalDedicatFS" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">À propos</h2>
            <button type="button" class="btn-close m-2" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="my-5 display-5 text-center">
              <img src="assets/images/logo-ettabab.png" height="125px" width="120px" alt="">
            </div>
            <div class="text-center">
              <h2>Ce projet est réalisé par : </h2>
              <br>
            </div>

            <div class="text-center text-black">
              <b>Rami Ben Hamouda </b>
            </div>
            <br>

            <div class="text-center">
              <p>Dans le cadre d'un stage d'immersion.</p>
              <p>Pour l'année universitaire 2023/2024.</p>
              <p>Au sein de l'Entreprise "ETTABA".</p>
            </div>

          </div>
          <div class="modal-footer">
          </div>


        </div>
      </div>
    </div>




    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-light" aria-current="page" data-bs-toggle="modal" data-bs-target="#exampleModalDedicatFS">A propos</a>
        </li>


      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Rechercher..." aria-label="Search" [formControl]="control" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
            {{street}}
          </mat-option>
        </mat-autocomplete>
        <button class="btn btn-outline-light" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>

      </form>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" mat-button [matMenuTriggerFor]="beforeMenu">
            {{user.firstName +' '+ user.lastName}}

            <img src="/assets/images/profile-picture256.jpg" title="Image de Profile" width="40px" height="40px" class="border border-3 rounded-circle" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>


</nav>

<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item routerLink="profile">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24"/></g><g><path d="M12,2C6.48,2,2,6.48,2,12s4.48,10,10,10s10-4.48,10-10S17.52,2,12,2z M12,6c1.93,0,3.5,1.57,3.5,3.5S13.93,13,12,13 s-3.5-1.57-3.5-3.5S10.07,6,12,6z M12,20c-2.03,0-4.43-0.82-6.14-2.88C7.55,15.8,9.68,15,12,15s4.45,0.8,6.14,2.12 C16.43,19.18,14.03,20,12,20z"/></g></svg>

    <span>Profile</span></button>
  <button mat-menu-item (click)="logout()">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/></svg>
    <span>Disconnect</span></button>
</mat-menu>
<app-sidebar [isExpanded]="sidebarExpanded" (toggleSidebar)="sidebarExpanded = !sidebarExpanded"></app-sidebar>
<div class="content" [ngClass]="{ 'sidebarExpanded': sidebarExpanded }">
  <router-outlet></router-outlet>
</div>
